.hero {
	background-image: url("../images/default_dark_compressed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100%;
	background-color: #041222c2;
	backdrop-filter: blur(3px);
	position: relative;
	.login {
		width: 100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.671)),
			url(../images/bc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@include center;
		flex-direction: column;
		gap: 1.5rem;
		z-index: 10;
		form {
			input {
				font-size: 1.2rem;
				padding: 0.3rem 0.5rem;
				outline: 0;
				border: 0;
				border-radius: 5px;
			}
			.enter {
				font-size: 1.2rem;
				padding: 0.3rem 0.5rem;
				border: 0;
				border-radius: 5px;
			}
		}

		img {
			@include image-resets;
			width: 300px;
			height: 300px;
			border-radius: 50%;
		}
	}
	.spin-ner {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.671)),
			url(../images/default_light_compressed.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		z-index: 2;
		@include center;
		.loader {
			width: 100px;
			height: 100px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.1rem;
			color: white;
			position: relative;
			.spinner {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 10px solid transparent;
				position: absolute;
				mix-blend-mode: overlay;
				animation: rotate var(--duration) var(--timing) infinite;
			}
			.spinner1 {
				border-right-color: orange;
				--duration: 1.5s;
				--timing: ease-in-out;
			}
			.spinner2 {
				border-left-color: greenyellow;
				--duration: 2s;
				--timing: ease-in;
			}

			.spinner3 {
				border-top-color: aquamarine;
				--duration: 1s;
				--timing: ease-in-out;
			}

			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}

	.deskIcons {
		display: grid;
		grid-template-columns: 90px 90px;
		gap: 1rem;
		padding: 2rem 2rem;

		.btn {
			background: 0;
			border-radius: 0;
			width: 85px;
			height: 85px;
			border: 0;
			border-radius: 5px;
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				@include image-resets;
				width: 50px;
			}
			p {
				color: $paragraphs;
				font-size: 0.7rem;
			}
			&:hover {
				background-color: #0a294f;
			}
		}
	}
	.taskBar {
		@include center;
		justify-content: end;
		gap: 15rem;
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.459);
		backdrop-filter: blur(3px);
		height: 7vh;
		.taskIcons {
			@include center;
			gap: 1rem;
			padding-left: 10rem;
			.taskIcon {
				background: 0;
				border: 0;
				img {
					width: 30px;
				}
			}
		}
		.accessibility {
			@include center;
			gap: 2rem;
			padding-right: 1rem;
			.iconAccess {
				.access {
					border: 0;
					background: 0;
					color: white;
					font-size: 1.3rem;
				}
			}
			.dateTime {
				li {
					list-style: none;
					color: white;
					text-align: end;
				}
			}
		}
	}
	.windows {
		background: rgba(0, 0, 0, 0.753);
		width: 34rem;
		height: 35rem;
		position: absolute;
		top: 2rem;
		left: 25rem;
		display: none;
		.window {
			height: 90%;
			padding: 1rem 2rem;

			form {
				span {
					img {
						width: 30px;
					}
				}
			}
			.pinned {
				@include center;
				justify-content: space-between;
				padding: 1rem 0;
				h3 {
					color: white;
					font-size: 0.8rem;
				}
			}
			.apps {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: repeat(3, 1fr);
				gap: 0.5rem;

				.taskIcon {
					gap: 5px;
					background: 0;
					border: 0;
					width: 50px;
					height: 50px;
					// padding: 0.5em;
					border-radius: 5px;
					display: flex;
					flex-direction: column;
					align-items: center;
					img {
						@include image-resets;
						height: 60%;
						width: 60%;
						margin: auto;
					}
					p {
						color: $paragraphs;
						font-size: 0.7rem;
					}
					&:hover {
						background: #0a294f;
					}
				}
			}
			.recommended {
				display: flex;
				justify-content: space-between;
				padding: 1rem 0;
				h3 {
					color: white;
					font-size: 0.8rem;
				}
			}
			.recommededApps {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				color: white;
				gap: 0.5rem;
				.recommendedApp {
					display: flex;
					.recommText {
						p {
							font-size: 0.7rem;
						}
						span {
							display: block;
							font-size: 0.7rem;
						}
					}
				}
			}
		}
		.bottomWindow {
			height: 10%;
			background-color: rgba(0, 0, 255, 0.349);
			backdrop-filter: blur(5px);
			padding: 0.5rem;
			.profile {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.prof {
					@include center;
					gap: 1rem;
					margin: auto 0;
					img {
						width: 30px;
						height: 30px;
						border-radius: 50%;
					}
					p {
						color: white;
					}
				}
				i {
					color: white;
					font-size: 1.2rem;
				}
			}
		}
	}

	.showWindow {
		display: block;
	}
}

.changeMode {
	.hero {
		background-image: url("../images/default_light_compressed.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.deskIcons {
			.btn {
				p {
					color: black;
				}
				&:hover {
					background-color: white;
				}
			}
		}
		.taskBar {
			background-color: rgba(255, 255, 255, 0.637);
			backdrop-filter: blur(3px);

			.accessibility {
				.iconAccess {
					.access {
						color: black;
					}
				}
				.dateTime {
					li {
						color: black;
					}
				}
			}
		}
	}
}
